html,
body {
  position: relative;
  height: 100%;
}

/* global font and style */
body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* year pagination position */
.swiper-pagination {
	display: flex;
  align-self: center;
	bottom: 90% !important;
}

/* custom pagination bullet style */
.swiper-pagination-bullet {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
	border-radius: 0;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 45px;
	color:#F0BF4C;
	opacity: 1;
	background: none;
}

/* general style of nested and main swiper, possibly all swipers*/
.nested-swiper,
.swiper-container {
  width: 100%;
  height: 100%;
}

/* navigation for nested swipers */
.swiper-button-prev {
  transform:rotate(90deg);
  top: initial;
  left: initial;
  top: 90.5%;
  display: flex;
  color: #084DA2;
  align-self: center;
}

.swiper-button-next{
  transform:rotate(90deg);
  color: #084DA2;
  top: initial;
  right: initial;
  display: flex;
  align-self: center;
  bottom: 0;
}

/* style slide title */
.slide-title {
  text-align: center;
  margin-top: 125px;
  color: #F0BF4C;
}

/* all slide containers center content */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.grid-container {
  
}



/* year 2003 slide w/ tab gallery */
#year-2003 {
  background-image: url("placeholders/bird.png");
  background-position: center;

}

/* Year 2004 nested slide events */
  #year-2004-1 {
    background-image: url("placeholders/band.png");
    background-position: center;
  }

  #year-2004-2 {
    background-image: url("placeholders/volunteer.png");
    background-position: center;
  }

  #year-2004-3 {
    background-image: url("placeholders/bird.png");
    background-position: center;
  }

  #year-2004-4 {
    background-image: url("placeholders/film.png");
    background-position: center;
  }

#year-2005 {
  background-image: url("placeholders/worship.png");
  background-position: center;
}

#year-2006 {
  background-image: url("placeholders/sing.png");
  background-position: center;
}






    

    

  

